.catalog-list {
  margin: 0;
  padding: 30px 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    padding: 30px 0 53px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    display: grid;
    padding: 30px 0 57px 0;

    column-gap: 51px;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog-list__item {
  margin: 0 0 30px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog-list__item {
    margin: 0 0 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list__item {
    display: flex;
    margin: 0;
  }
}
