.catalog {
  padding: 0 30px 58px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 48px 50px 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 80px 50px 75px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 80px 50px 100px;
  }
}
