.feature {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 4px;

    width: 100%;
    height: 6px;

    background-image: url("../../img/zigzag-line-desktop.svg");
  }
}

.feature__container {
  padding: 30px 30px 45px;
}

@media (min-width: $tablet-width) {
  .feature::after {
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .feature::after {
    height: 23px;
  }
}

@media (min-width: $tablet-width) {
  .feature__container {
    display: grid;
    align-items: start;
    padding: 52px 50px 75px;

    column-gap: 42px;

    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .feature__container {
    padding: 70px 50px 100px 225px;

    column-gap: 58px;
  }
}

.feature__title {
  position: relative;

  margin: 0 0 15px;
  padding: 0 0 25px;
}

@media (min-width: $tablet-width) {
  .feature__title {
    margin: 0 0 38px;
    padding: 0 150px 0 0;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

@media (min-width: $desktop-width) {
  .feature__title {
    margin: 62px 0 37px;
  }
}

.feature__title-tag {
  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $green;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .feature__title-tag {
    top: 3px;
    right: 13px;
    bottom: auto;
    left: auto;

    width: 100px;

    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .feature__title-tag {
    right: auto;
    left: -143px;
  }
}


.feature__text {
  margin: 0 0 28px;
}

@media (min-width: $tablet-width) {
  .feature__text {
    margin: 0 0 46px;

    font-size: 17px;
    line-height: 30px;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media (min-width: $desktop-width) {
  .feature__text {
    margin: 0 0 58px;
  }
}

.feature__parameters {
  width: 100%;
  margin: 0 0 22px;

  border-collapse: collapse;
  border-spacing: 0;
  font-size: 15px;
  line-height: 20px;

  border: none;
}

@media (min-width: $tablet-width) {
  .feature__parameters {
    margin: 0 0 52px;

    grid-column: 1 / 2;
  }
}

@media (min-width: $desktop-width) {
  .feature__parameters {
    margin: 0 0 105px;
  }
}

.feature__parameter {
  display: grid;
  margin: 0 0 6px;
  padding: 0 0 13px;

  border-bottom: 1px solid #ececec;

  grid-template-columns: 97px 1fr;
}

.feature__parameter-name {
  padding: 0;
}

.feature__parameter-value {
  padding: 0;
}

.feature__foto {
  display: block;
  width: 260px;
  height: 315px;
  margin: 0 0 25px;

  background-color: $gray-f2;
}

@media (min-width: $tablet-width) {
  .feature__foto {
    width: 334px;
    height: 404px;
    margin: 12px 0 0 0;

    grid-column: 2 / -1;
    grid-row: 2 / 6;
  }

  .feature picture {
    width: 334px;
    height: 404px;

    grid-column: 2 / -1;
    grid-row: 2 / 6;
  }
}

@media (min-width: $desktop-width) {
  .feature__foto {
    width: 525px;
    height: 636px;
    margin: 0;

    grid-row: 1 / 6;
  }

  .feature picture {
    width: 525px;
    height: 636px;

    grid-row: 1 / 6;
  }
}

.feature__price {
  margin: 0 0 25px;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feature__price {
    margin: 0 0 32px;

    font-size: 20px;

    grid-column: 1 / 2;
  }
}

@media (min-width: $tablet-width) {
  .feature__button {
    grid-column: 1 / 2;
  }
}
