.main-header {
  position: relative;

  min-height: 80px;
  padding: 22px 0 0 0;

  background-color: $white;
  border-bottom: 1px solid $gray-ec;
}

@media (min-width: $tablet-width) {
  .main-header {
    min-height: 89px;
    padding: 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    background: linear-gradient($white, $white 88px, $black-1 88px, $black-1 89px, $gray-f1 89px, $gray-f1);

    &--index {
      background: linear-gradient($white, $white 88px, $black-1 88px, $black-1 89px, $gray-f9 89px, $gray-f9);
    }
  }
}

@media (min-width: $tablet-width) {
  .main-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1150px;
  }
}

.main-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto 21px;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    flex-basis: 163px;
    width: 113px;
    height: 45px;
    margin: 0;
    padding: 23px 0 0 50px;

    img {
      width: 113px;
      height: 45px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    flex-basis: 149px;
    order: 2;
    width: 149px;
    height: 72px;
    margin: 0 64px 0 0;
    padding: 9px 0 0 0;

    img {
      width: 149px;
      height: 72px;
    }
  }
}

.main-header__burger-button {
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (min-width: $tablet-width) {
  .main-header__burger-button {
    display: none;
  }
}

.main-header__nav-list {
  position: absolute;
  top: calc(100% + 1px);
  z-index: 5;

  display: none;
  width: 100%;
}

.main-header__nav-list--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header__nav-list {
    position: static;
    top: auto;

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    order: 3;
    max-width: 60%;
    padding: 0 0 0 50px;

    background-color: $gray-f1;
    border-top: 1px solid $black-1;

    &--index {
      background-color: $gray-f9;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__nav-list {
    order: 1;
    width: auto;
    max-width: none;

    background: $white;
    border: none;
  }
}

.main-header__user-list {
  position: absolute;
  /*Идея в том чтобы потом top вычислять с помощью JS*/
  top: calc(100% + 158px);
  z-index: 5;

  display: none;
  width: 100%;
}

.main-header__user-list--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header__user-list {
    position: static;
    top: auto;

    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    padding: 0 50px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header__user-list {
    order: 3;
  }
}

.main-header__list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header__list-item {
  margin: 0 62px 0 0;

  &:last-child {
    margin: 0;
  }
}

.main-header__list-link {
  display: block;
  padding: 22px 0 0 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black-6;
  }

  &:active {
    color: $black-3;
  }
}

@media (min-width: $desktop-width) {
  .main-header__list {
    z-index: 5;

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    order: 4;
    max-width: 785px;
    padding: 0 0 0 50px;

    background-color: $gray-f1;
    border-top: 1px solid $black-1;

    &--index {
      background-color: $gray-f9;
    }
  }
}

.main-header__text {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-header__text {
    z-index: 5;

    display: block;
    flex-grow: 1;
    order: 4;
    padding: 22px 50px 0 0;

    font-size: 15px;
    line-height: 24px;
    text-align: end;
    color: $text-color;

    background-color: $gray-f1;
    border-top: 1px solid $black-1;

    &--index {
      background-color: $gray-f9;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__text {
    order: 5;
  }
}

@media (max-width: $tablet-width) {
  .main-header--no-js {
    border: none;
  }

  .main-header--no-js .main-header__burger-button {
    display: none;
  }

  .main-header--no-js .main-header__nav-list {
    position: static;

    display: block;
  }

  .main-header--no-js .main-header__user-list {
    position: static;

    display: block;
  }
}
