.order-form {
  padding: 17px 30px 55px 30px;
}


@media (min-width: $tablet-width) {
  .order-form {
    padding: 66px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    padding: 98px 0 0 0;
  }
}

.order-form__text {
  margin: 0 0 30px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .order-form__text {
    padding: 0 50px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__text {
    padding: 0 225px;
  }
}

.order-form__fieldset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-form__fieldset-item {
  margin: 0 0 34px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__fieldset-item {
    margin: 0;

    &:nth-child(even) {
      background-color: $gray-f1;
    }
  }
}

.order-form__fieldset {
  position: relative;

  margin: 0 0 34px;
  padding: 38px 0 0 0;
  overflow-x: hidden;

  border: none;

  &--name {
    padding: 43px 0 0 0;
  }

  &--contacts {
    padding: 0;
  }

  &--comment {
    padding: 0;
  }

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    margin: 0;
    padding: 27px 0 50px 220px;

    &--checkbox {
      padding: 51px 25px 25px 217px;
    }

    &--name {
      padding: 53px 50px 50px 217px;
    }

    &--contacts {
      padding: 52px 50px 50px 50px;
    }

    &--comment {
      padding: 52px 50px 50px 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__fieldset {
    margin: 0;
    padding: 27px 0 50px 227px;

    &--checkbox {
      padding: 48px 130px 24px 225px;
    }

    &--name {
      padding: 53px 225px 50px 227px;
    }

    &--contacts {
      padding: 51px 225px 50px 111px;
    }

    &--comment {
      padding: 51px 225px 50px 225px;
    }
  }
}

.order-form__legend {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0 20px 0 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 100%;

    width: 1000px;
    height: 1px;

    background-color: $text-decoration-green;
  }
}

@media (min-width: $tablet-width) {
  .order-form__legend {
    top: 51px;
    left: 50px;

    padding: 0;

    &::before {
      display: none;
    }
  }

  .order-form__fieldset--checkbox .order-form__legend,
  .order-form__fieldset--name .order-form__legend {
    top: 68px;
  }
}


@media (min-width: $desktop-width) {
  .order-form__legend {
    left: 111px;
  }
}

.order-form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--radio {
    padding: 7px 0 0 0;
  }
}

.order-form__list-item {
  margin: 0 0 14px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__list-item {
    margin: 0 0 25px;
  }
}


.order-form__list--checkbox .order-form__list-item {
  margin: 0 0 21px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .order-form__list--checkbox .order-form__list-item {
    width: 50%;
    margin: 0 0 24px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__list--checkbox .order-form__list-item {
    width: 33%;
    margin: 0 0 26px;
  }
}

.order-form__radio {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 3px 0 0 60px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  vertical-align: middle;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $text-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;

    display: none;
    width: 16px;
    height: 16px;

    background-color: $text-decoration-green;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $text-decoration-green;
  }

  &:active::before {
    border-color: $black-3;
  }
}

@media (min-width: $tablet-width) {
  .order-form__radio {
    min-height: 50px;
    padding: 0 0 0 77px;

    font-size: 19px;
    line-height: 18px;

    &::before {
      width: 50px;
      height: 50px;
    }

    &::after {
      top: 15px;
      left: 15px;

      width: 20px;
      height: 20px;
    }
  }
}

.order-form__radio-input:checked + .order-form__radio::after {
  display: block;
}

.order-form__checkbox-label {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 0 0 60px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 38px;
    height: 38px;

    border: 2px solid $text-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 8px;

    display: none;
    width: 23px;
    height: 16px;

    background-image: url("../../img/check.svg");
    background-repeat: no-repeat;
  }

  &:hover::before {
    border-color: $text-decoration-green;
  }

  &:active::before {
    border-color: $black-3;
  }
}

@media (min-width: $tablet-width) {
  .order-form__checkbox-label {
    min-height: 52px;
    padding: 0 0 0 80px;

    font-size: 19px;
    line-height: 18px;

    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      top: 17px;
      left: 10px;

      width: 32px;
      height: 22px;
    }
  }
}

.order-form__checkbox:checked + .order-form__checkbox-label::after {
  display: block;
}

.order-form__label {
  display: block;
  margin: 0 0 2px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .order-form__label {
    margin: 0 25px 0 0;
    padding: 15px 0 0 0;

    font-size: 19px;
  }
}

.order-form__wrapper {
  margin: 0 0 22px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 26px;
  }
}


.order-form__wrapper--tel {
  position: relative;

  & svg {
    position: absolute;
    top: 30px;
    right: 7px;

    width: 25px;
    height: 24px;

    opacity: 0.2;

    fill: $black;
  }
}

@media (min-width: $tablet-width) {
  .order-form__wrapper--tel svg {
    top: 9px;
    right: 26px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper--tel svg {
    right: 8px;
  }
}

.order-form__wrapper--email {
  position: relative;

  & svg {
    position: absolute;
    top: 35px;
    right: 3px;

    width: 32px;
    height: 21px;

    opacity: 0.2;

    fill: $black;
  }
}

@media (min-width: $tablet-width) {
  .order-form__wrapper--email svg {
    top: 14px;
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper--email svg {
    right: 4px;
  }
}

.order-form__wrapper--comment {
  margin: 0;
}

.order-form__custom-label {
  position: relative;

  display: inline-block;
  margin: 0 0 5px;
  padding: 0 16px 0 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  vertical-align: top;
  color: $green;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 100%;

    width: 1000px;
    height: 1px;

    background-color: $text-decoration-green;
  }

  &--comment {
    margin: 0 0 23px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__custom-label {
    margin: 0;
    padding: 15px 0 0 0;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__custom-label--comment {
    position: absolute;
    top: 54px;
    left: 111px;
  }
}

.order-form__text-field {
  display: block;
  width: 100%;
  padding: 15px 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $text-color;

  border: none;
  border-bottom: 2px solid $black;
  outline: none;

  &::placeholder {
    color: $black-3;
  }

  &:hover {
    border-color: $text-decoration-green;
  }

  &:focus {
    border-color: $text-decoration-green;
  }

  &:hover + svg {
    opacity: 1;

    fill: $text-decoration-green;
  }

  &:focus + svg {
    opacity: 1;

    fill: $text-decoration-green;
  }
}

@media (min-width: $tablet-width) {
  .order-form__text-field {
    padding: 11px 17px;

    font-size: 19px;
  }
}

.order-form__text-field--tel {
  margin: 0 0 37px;
  padding: 12px 45px 15px 0;
}

.order-form__text-field--email {
  padding: 12px 45px 15px 0;
}

@media (min-width: $tablet-width) {
  .order-form__text-field--tel,
  .order-form__text-field--email {
    max-width: 500px;
    margin: 0;
    padding: 11px 45px 11px 17px;

    background-color: $gray-f1;
  }
}

@media (min-width: $desktop-width) {
  .order-form__text-field--tel,
  .order-form__text-field--email {
    max-width: 700px;
  }
}

.order-form__comment-field {
  display: block;
  width: 100%;
  min-height: 142px;
  margin: 0 0 17px;
  padding: 15px;

  font-size: 17px;
  line-height: 18px;
  color: $black;

  border: 2px solid $text-color;
  outline: none;

  &::placeholder {
    color: $black-3;
  }

  &:hover {
    border-color: $text-decoration-green;
  }

  &:focus {
    border-color: $text-decoration-green;
  }
}

@media (min-width: $tablet-width) {
  .order-form__comment-field {
    max-width: 500px;
    margin: 0 0 52px;

    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__comment-field {
    max-width: 700px;
    margin: 0 0 48px;
  }
}

.order-form__remark {
  margin: 0 0 30px;

  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order-form__remark {
    order: 2;
    margin: 0;
    padding: 11px 0 0 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__button {
  width: 100%;

  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .order-form__button {
    order: 1;
    max-width: 230px;
  }
}
