.page-title {
  min-height: 176px;
  margin: 0;
  padding: 73px 25px 20px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $black;

  background-color: $gray-f1;

  &--index {
    min-height: 283px;

    background-color: $transparent;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    min-height: 190px;
    padding: 55px 50px 20px;

    font-size: 43px;
    line-height: 50px;

    &--index {
      min-height: 580px;
      padding: 109px 50px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    min-height: 225px;

    font-size: 53px;
    line-height: 57px;

    &--index {
      min-height: 580px;
      padding: 110px 50px 20px;
    }
  }
}
