.page-header {
  position: relative;

  background-color: $gray-f1;

  &--index {
    background-color: $gray-f9;
    background-image: url("../img/hero-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;
  }
}

@media (min-width: $tablet-width) {
  .page-header::after {
    content: "";
    position: absolute;
    bottom: -12px;

    width: 100%;
    height: 24px;

    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
  }
}

@media (min-width: $desktop-width) {
  .page-header::after {
    height: 34px;
  }
}
