.page-header {
  position: relative;

  background-color: $gray-f1;

  &--index {
    background-color: $gray-f9;
    background-image: url("../img/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header::after {
    content: "";
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 24px;

    background-image: url("../img/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
  }

  .page-header--index {
    background-image: url("../img/hero-tablet.jpg");
    background-position: center -47px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .page-header--index::after {
    bottom: -12px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--index {
    background-image: url("../img/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-header::after {
    height: 34px;
  }
}
