$text-color: #444444;
$white: #ffffff;
$black: #000000;
$black-3: rgba(0, 0, 0, 0.3);
$transparent: transparent;
$gray-ec: #ececec;
$gray-f1: #f1f1f1;
$gray-e5: #e5e5e5;
$green-light: #59d5bc;
$green: #63d1bb;
$green-dark: #56c3b2;
$green-darken: #46c1ae;
$text-decoration-green: #62d1ba;
